In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Checkmarks.csv",names=["date","amount"],index_col="date")
df["amount"] = df["amount"] /1000

In [3]:
df.head(20)

            amount
date
2022-12-22    2.00
2022-12-21    2.00
2022-12-20    2.65
2022-12-19    3.10
2022-12-18    2.50
2022-12-17    2.40
2022-12-16    1.50
2022-12-15    1.65
2022-12-14    2.65
2022-12-13    0.45
2022-12-12    2.35
2022-12-11    1.25
2022-12-09    0.00
2022-12-08    2.85
2022-12-07    2.50
2022-12-06    1.75
2022-12-05    3.25
2022-12-04    3.20
2022-12-03    1.25
2022-12-02    1.50

In [4]:
df.index=pd.to_datetime(df.index)

In [5]:
df=df[df.index >'2022-10-1']

In [6]:
fig,axs=plt.subplots(2,figsize=(15,15))
df["amount"].rolling(7).mean().plot(ax=axs[0])
# Create a second y-axis
y2 = axs[0].twinx()
#plot the summation of a 7 day window
y2.plot(df["amount"].rolling(7).sum())

df["amount"].rolling(7).mean().plot(ax=axs[])
# Create a second y-axis
y2 = axs[0].twinx()
#plot the summation of a 7 day window
y2.plot(df["amount"].rolling(7).sum())

SyntaxError: invalid syntax (Temp/ipykernel_10116/1869744039.py, line 8)

In [ ]:
print(axs[0].get_ylim())

In [ ]:
locs

In [ ]:
type(labels)

In [ ]:
df["amount"].hist()

In [ ]:
df["amount"].plot(kind="box")

In [ ]:
df["amount"].describe()